<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>Simple Web Application</display-name>
    <description>
        Simple TO DO list Web Application using JSP/Servlet
    </description>

    <servlet>
        <servlet-name>ToDoServlet</servlet-name>
        <servlet-class>ua.goit.java.servlets.controller.ToDoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateToDo</servlet-name>
        <servlet-class>ua.goit.java.servlets.controller.CreateToDoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoCreateToDo</servlet-name>
        <servlet-class>ua.goit.java.servlets.controller.DoCreateToDoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDone</servlet-name>
        <servlet-class>ua.goit.java.servlets.controller.SetDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>ua.goit.java.servlets.controller.DeleteToDo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ToDoServlet</servlet-name>
        <url-pattern>/todoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateToDo</servlet-name>
        <url-pattern>/createToDo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoCreateToDo</servlet-name>
        <url-pattern>/doCreateToDo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDone</servlet-name>
        <url-pattern>/setDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/deleteToDo</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
